<div class="sidebar">
    <ul class="nav nav-list">
        <li>
            <a href="#">
                <i class="icon-desktop"></i>
                <span class="menu-text">控制台 </span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="icon-desktop"></i>
                <span class="menu-text">文字排版 </span>
            </a>
        </li>

        <li class="active open">
            <a class="dropdown-toggle" href="#">
                <i class="icon-desktop"></i>
                <span class="menu-text">UI 组件 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li class="active">
                    <a href="#">组件</a>
                </li>

                <li>
                    <a href="#">按钮 &amp; 图表</a>
                </li>

                <li>
                    <a href="#">树菜单</a>
                </li>

                <li>
                    <a href="#">jQuery UI</a>
                </li>

                <li>
                    <a href="#">可拖拽列表</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-desktop"></i>
                <span class="menu-text">表格 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="#">简单 &amp; 动态</a>
                </li>

                <li>
                    <a href="#">jqGrid plugin</a>
                </li>
            </ul>
        </li>

    </ul>

</div>
