<div class="">
    <div class="navbar-header">
        @*<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>*@
        <div class="pl15 img-responsive">
            <img src="@Url.Content("~/Content/images/logo.png")" alt="logo" style="height: 50px;" />
        </div>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav ml100">
            <li>
                <a href="#">测试菜单一</a>
            </li>
            <li>
                <a href="#">测试菜单二</a>
            </li>
            <li class="active">
                <a href="#">测试菜单三</a>
            </li>
            <li>
                <a href="#">测试菜单四</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://expo.bootcss.com">单一</a></li>
        </ul>
    </nav>

</div>
