/*公共样式*/
body {
}

/*login*/
.tdiv{border: 1px solid #bbb; border-radius: 4px; background-color: #fafafa; height: 250px; margin-top: 150px;}
.tt{height: 60px; font-size: 20px; line-height: 55px; text-align: center; vertical-align: middle; color: #eea236; border-bottom: 1px solid #bbb; background-color: #f3f3f3; border-top-left-radius: 4px; border-top-right-radius: 4px;}
