@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box round first">
    <h2>上传文件</h2>
    <div class="block">
            <h5>
                <input type="submit" class="btn btn-blue" value="保存" />
                <input type="button" class="btn btn-grey" value="返回" onclick="location.href='@Url.Action("Index", "Doc")    '" />
            </h5>
        </div>

</div>
